/* top movies */
#movie-page-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    z-index: 1000; /* keeps it above other stuff */
}

#site-name {
    color: white;
    background-color: #08F;
    padding: 10px;  /* top, right, bottom, left for bg */
    font-family: Impact, fantasy;
    display: inline-block;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.h3-title {
    padding: 110px 0 10px 0;  /* top, right, bottom, left for bg */
    /*background-color: darkblue;*/
    /*margin: 0 -75px;  !* space outside element like the block, padding space inside element like text *!*/
}

.ratings-col {
    width: 120px;
}

/* single movie */

.site-header {
    display: flex;  /* direction is row by default */
    align-items: center;  /* centers items vertically (perpendicular to flex direction) */
    justify-content: center;  /* centers items horizontally (with flex direction) */
    position: relative;  /* sets this as reference point for absolute elements */
    background-color: lightblue;
}

.arrow {
    position: absolute;  /* positions element relative to siteHeader */
    left: 10px;
    color: black;
    font-weight: bold;
}

.back-link {
    position: absolute;
    left: 30px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#name {
    padding-top: 30px;
    margin-bottom: 15px;
}

#movieStars a, #movie-table-body a {
    color: black;
    text-decoration: underline;
}

#movieStars a:hover, #movie-table-body a:hover {
    color: royalblue;
}

/* single star */