/* all pages */
#movie-page-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    z-index: 1000; /* keeps it above other stuff */
}

#site-name {
    color: white;
    background-color: #08F;
    padding: 10px;  /* top, right, bottom, left for bg */
    font-family: Impact, fantasy;
    display: inline-block;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 10px;
}

#user-dropdown {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
}

#logout-button {
    background: white;   /* remove button background */
    border: none;       /* remove border */
    padding: 0;         /* remove padding */
    margin: 0;
    cursor: pointer;    /* keep cursor pointer */
    font-size: 14px;    /* optional: adjust size */
}
#logout-btn:hover {
    text-decoration: underline;
}

/* movies list page */

.container {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-top: 95px;
    margin-bottom: 40px;
}

.h3-title {
    padding: 15px 0 10px 0;  /* top, right, bottom, left for bg */
    /*background-color: darkblue;*/
    /*margin: 0 -75px;  !* space outside element like the block, padding space inside element like text *!*/
}

#movieStars a, #movie-table-body a, #movies a {
    color: black;
    text-decoration: underline;
}

.ratings-col {
    width: 80px;
}

/* single movie */

.site-header {
    display: flex;  /* direction is row by default */
    align-items: center;  /* centers items vertically (perpendicular to flex direction) */
    justify-content: center;  /* centers items horizontally (with flex direction) */
    position: relative;  /* sets this as reference point for absolute elements */
    background-color: lightblue;
}

.arrow {
    position: absolute;  /* positions element relative to siteHeader */
    left: 10px;
    color: black;
    font-weight: bold;
}

.back-link {
    position: absolute;
    left: 30px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.movie-container {
    padding-left: 30px;
    padding-right: 30px;
}

.card {
    width: 1000px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 20px 5px 20px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* subtle shadow */
}

#name {
    padding-top: 10px;
    margin-bottom: 0;
}

#star-name {
    padding-top: 10px;
    margin-bottom: 15px;
}

#movieStars a:hover, #movie-table-body a:hover, #movies a:hover {
    color: royalblue;
}

/* login page */

.card {
    width: 500px;
    padding: 24px;
}

.login-card-box {
    padding-top: 100px;
}

.login-title {
    text-align: center;
}

#login-header {
    background-color: #f0f2f5;
}

#error-msg {
    color: red;
}