/* top movies */
#moviePageHeader {
    text-align: center;
    background-color: lightblue;
}

.topMoviesHeading {
    display: inline-block;
    background-color: lightgoldenrodyellow;
}

#siteName {
    color: white;
    background-color: #08F;
    padding: 10px;  /* top, right, bottom, left for bg */
    font-family: Impact, fantasy;
    font-size: 3rem;
    display: inline-block;
    border-radius: 20px;
    margin-top: 10px;
}

/* single movie */

.siteHeader {
    display: flex;  /* direction is row by default */
    align-items: center;  /* centers items vertically (perpendicular to flex direction) */
    justify-content: center;  /* centers items horizontally (with flex direction) */
    position: relative;  /* sets this as reference point for absolute elements */
    background-color: lightblue;
}

.container {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.arrow {
    position: absolute;  /* positions element relative to siteHeader */
    left: 10px;
    color: black;
    font-weight: bold;
}

.back-link {
    position: absolute;
    left: 30px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#movieTitle {
    margin-bottom: 15px;
}

#movieStars a, #movie-table-body a {
    color: black;
    text-decoration: underline;
}

#movieStars a:hover, #movie-table-body a:hover {
    color: royalblue;
}

/* single star */